<!-- VIEW TAB -->
<div class="ribbon-tab-content" id="tab-View" style="display:none;">
  <include src="./view/view.presentation.html" />
  <include src="./view/view.master.html" />
  <include src="./view/view.zoom.html" />
  <include src="./view/view.color.html" />
  <div class="ribbon-group" style="border-right:none">
    <div class="ribbon-btn"><svg width="28" height="28"><rect x="8" y="6" width="12" height="16" fill="none" stroke="#bbb" stroke-width="1.5"/><path d="M8 10C12 10 12 14 16 14C20 14 20 18 24 18" fill="none" stroke="#c0392b" stroke-width="1.5"/></svg><span class="label">Macros</span></div>
    <div style="font-size:9px;color:#666;align-self:flex-end;padding-bottom:4px;padding-left:4px">Macros</div>
  </div>
</div>
