    <!-- RIBBON TABS -->
    <div class="ribbon-tabs">
      <div class="ribbon-tab" id="file-tab" style="background:var(--ppt-red);color:white;padding:7px 16px;border-radius:3px 3px 0 0;font-weight:600">File</div>
      <div class="ribbon-tab active">Default</div>
      <div class="ribbon-tab">Home</div>
      <div class="ribbon-tab">Insert</div>
      <div class="ribbon-tab">Draw</div>
      <div class="ribbon-tab">Design</div>
      <div class="ribbon-tab">Transitions</div>
      <div class="ribbon-tab">Animations</div>
      <div class="ribbon-tab">Slide Show</div>
      <div class="ribbon-tab">Record</div>
      <div class="ribbon-tab">Review</div>
      <div class="ribbon-tab">View</div>
      <div class="ribbon-tab">Help</div>
    </div>

