<!-- SLIDE 4: Projects -->
<div class="slide s-projects">
  <div class="slide-heading">
    <h2 class="okta-heading">Featured Projects</h2>
  </div>
  <div class="slide-content-pad" style="padding: 0% 3% 1% 3%; overflow-y: auto;">
    <div style="display:grid; grid-template-columns: repeat(3,1fr); gap:clamp(8px,1vw,14px); position:relative; z-index:2;">
      <include src="./projects-slide.grid1.html" />
      <include src="./projects-slide.grid2.html" />
      <include src="./projects-slide.grid3.html" />
    </div>
  </div>
</div>