<div id="ribbon-toolbar" class="ribbon-toolbar">
      <include src="./src/partials/ribbon-tabs/default-tab.html" />
      <include src="./src/partials/ribbon-tabs/home-tab.html" />
      <include src="./src/partials/ribbon-tabs/insert-tab.html" />
      <include src="./src/partials/ribbon-tabs/draw-tab.html" />
      <include src="./src/partials/ribbon-tabs/design-tab.html" />
      <include src="./src/partials/ribbon-tabs/transitions-tab.html" />
      <include src="./src/partials/ribbon-tabs/animations-tab.html" />
      <include src="./src/partials/ribbon-tabs/slide-show-tab.html" />
      <include src="./src/partials/ribbon-tabs/record-tab.html" />
      <include src="./src/partials/ribbon-tabs/review-tab.html" />
      <include src="./src/partials/ribbon-tabs/view-tab.html" />
      <include src="./src/partials/ribbon-tabs/help-tab.html" />
</div>
