<div id="ribbon-toolbar" class="ribbon-toolbar">
  <!-- DEFAULT TAB -->
  <div class="ribbon-tab-content active" id="tab-Default">
    <include src="./cta-group.html" />
  </div>

  <include src="./ribbon/ribbon.home.html" />
  <include src="./ribbon/ribbon.insert.html" />
  <include src="./ribbon/ribbon.draw.html" />
  <include src="./ribbon/ribbon.design.html" />
  <include src="./ribbon/ribbon.transitions.html" />
  <include src="./ribbon/ribbon.animations.html" />
  <include src="./ribbon/ribbon.slideshow.html" />
  <include src="./ribbon/ribbon.record.html" />
  <include src="./ribbon/ribbon.review.html" />
  <include src="./ribbon/ribbon.view.html" />
  <include src="./ribbon/ribbon.help.html" />
</div>